name: XRobot Module Build Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 3 1 * *'  # 每月1日凌晨3点（UTC）自动触发

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xrobot-org/docker-image-stm32:main
      options: --user 0

    env:
      XR_MODULE_NAME: ${{ github.event.repository.name }}

    steps:
      - name: install pip packages
        run: pip install libxr xrobot

      - name: Checkout bsp-dev-c
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/bsp-dev-c
          path: bsp-dev-c

      - name: config libxr
        run: cd bsp-dev-c && xr_cubemx_cfg -d ./ --xrobot

      - name: Checkout current module repo to bsp-dev-c/Modules/${{ env.XR_MODULE_NAME }}
        uses: actions/checkout@v4
        with:
          path: bsp-dev-c/Modules/${{ env.XR_MODULE_NAME }}

      - name: Checkout RMMotor module
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/RMMotor
          path: bsp-dev-c/Modules/RMMotor

      - name: Checkout CMD module
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/CMD
          path: bsp-dev-c/Modules/CMD

      - name: Checkout Chassis module
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/Chassis
          path: bsp-dev-c/Modules/Chassis

      - name: Checkout SuperPower module
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/SuperPower
          path: bsp-dev-c/Modules/SuperPower

      - name: Checkout Matrix module
        uses: actions/checkout@v4
        with:
          repository: QDU-Robomaster/Matrix
          path: bsp-dev-c/Modules/Matrix

      - name: Add modules
        run: |
          cd bsp-dev-c
          rm -rf ./User/xrobot.yaml
          xrobot_add_mod RMMotor --instance-id motor_wheel_0
          xrobot_add_mod RMMotor --instance-id motor_wheel_1
          xrobot_add_mod RMMotor --instance-id motor_wheel_2
          xrobot_add_mod RMMotor --instance-id motor_wheel_3
          xrobot_add_mod RMMotor --instance-id motor_steer_0
          xrobot_add_mod RMMotor --instance-id motor_steer_1
          xrobot_add_mod RMMotor --instance-id motor_steer_2
          xrobot_add_mod RMMotor --instance-id motor_steer_3
          xrobot_add_mod CMD --instance-id cmd
          xrobot_add_mod SuperPower --instance-id super_power
          xrobot_add_mod PowerControl --instance-id power_control
          xrobot_add_mod Chassis --instance-id omni_chassis
          cat ./User/xrobot.yaml

      - name: xrobot generate code
        run: cd bsp-dev-c && xrobot_gen_main && cat ./User/xrobot_main.hpp


      - name: config cmake
        run: cd bsp-dev-c && export GCC_TOOLCHAIN_ROOT=/opt/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/bin && export CLANG_GCC_CMSIS_COMPILER=/opt/st-arm-clang && cmake . -DCMAKE_TOOLCHAIN_FILE:STRING=cmake/starm-clang.cmake -DCMAKE_EXPORT_COMPILE_COMMANDS:BOOL=TRUE -Bbuild -G Ninja
      - name: build
        run: cd bsp-dev-c && cmake --build build

      - name: Create Tag via GitHub API
        if: ${{ success() && github.event_name != 'pull_request' }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const tagPrefix = 'auto-'
            const date = new Date();
            const yyyy = date.getUTCFullYear();
            const mm = String(date.getUTCMonth() + 1).padStart(2, '0');
            const dd = String(date.getUTCDate()).padStart(2, '0');
            const HH = String(date.getUTCHours()).padStart(2, '0');
            const MM = String(date.getUTCMinutes()).padStart(2, '0');
            const SS = String(date.getUTCSeconds()).padStart(2, '0');
            const tagName = `${tagPrefix}${yyyy}${mm}${dd}-${HH}${MM}${SS}`;

            // 获取当前 commit sha
            const sha = process.env.GITHUB_SHA;

            // 创建 tag reference
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${tagName}`,
              sha: sha
            });
            console.log(`Created tag: ${tagName} on sha: ${sha}`);
